body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  min-height: 100vh;
 
}




.navbar {
  background-color: white;
  z-index: 1030;
}


@media (min-width: 768px) {
  .navbar {
    position: sticky;
    top: 0;
  }
}


@media (max-width: 767px) {
  .navbar {
    position: static;
  }

  .navbar-collapse {
    position: static;
    background: white;
  }
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
  white-space: nowrap;
}

.f-info-links a{ 
  text-decoration: none;
  color: #222222;
} 
.f-info-links a:hover{
  text-decoration: underline; 
}
.f-info-socials,.f-info-links,.f-info-brand{
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
} 
.f-info-socials i{
  font-size: 1.2rem; 
  margin-right: 1rem;
}
.f-info{
  text-align: center; 
  height: 8rem;
  background-color: #ebebeb; 
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: space-evenly;
}
.listing-card{
  border: none !important;
  margin-bottom: 2 rem;
}
.card-img-top{
  border-radius:1rem !important; 
  width: 100% !important;
  object-fit: cover !important; 
}
.card-body{
  padding: 0 !important; 
}
.listing-link{
  text-decoration: none; 
}
.card-img-overlay{
  opacity: 0;
}
.card-img-overlay:hover{ 
  opacity: 0.2;
  background-color: white; 
}
.add-btn{ 
  background-color:#fe424d !important ;
  border: none !important;
}
.edit-btn{
  background-color:#fe424d !important ;
  border: none !important;
}
.show-img{ 
  height: 30vh; 
}
.btns{
  display: flex;
}
.show-card{
  padding-left:0 ;
  padding-right: 0;
}
#map {
  height: 400px;
  width: 80vh;
}
